name: Build and Release

permissions:
  contents: write

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install cbindgen
      run: cargo install cbindgen

    - name: Build general release
      run: |
        cargo build --release
        mv target/x86_64-unknown-none/release/liballoc.a liballoc-x86_64.a
        mv target/i686-unknown-none/release/liballoc.a liballoc-i686.a
        mv target/aarch64-unknown-none-softfloat/release/liballoc.a liballoc-aarch64.a
        mv target/loongarch64-unknown-none-softfloat/release/liballoc.a liballoc-loongarch64.a

    - name: Generate header
      run: cbindgen --output alloc.h

    - name: Release artifacts
      uses: softprops/action-gh-release@v2
      with:
        name: Nightly build
        tag_name: release
        files: |
          liballoc-x86_64.a
          liballoc-i686.a
          liballoc-aarch64.a
          liballoc-loongarch64.a
          alloc.h
